{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div id="root">Loading...</div>
    <div>
        Versija <b id="version">...</b>
    </div>

    Vardas: <input type="text" id="name"/>
    <span id="validation-result" data-path="{{ path('validate', {'element': 'name'}) }}"></span><br>
    Komanda: <input type="text" id="team"/>
    <span id="teamValidation-result" data-path="{{ path('validate', {'element': 'team'}) }}"></span>
    <hr>
    {% for team, student in students %}
        <b>{{ team }}:</b> {{ student.members|join(', ') }};<br>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
        var needVersion = true;
        var needReact = true;
    </script>
    <script src="{{ asset('build/js/validation.js') }}"></script>
    <script src="{{ asset('build/js/validationTeam.js') }}"></script>

    {{ parent() }}
{% endblock %}
